* {
    box-sizing: border-box;
}

#gRNA-title {
    border-radius: .40rem;
    text-align: center;
    font-size: 3rem;
    margin: 2.5% auto 15%;
    background-color: #78c2ad;
    color: white;
}

#gRNA-title a {
    text-decoration: none;
    color: white;
}

#gRNA-title a:hover {
    color: #5a5a5a;
}

#seq-input {
    border-radius: 1rem;
    font-size: 2rem;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

i {
    margin: .5%;
}

.result-seq {
    text-align: center;
}

#download-btn {
    text-align: center;
    border-radius: .40rem;
    padding: .75rem 1.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% auto 10%;
    width: fit-content;
}

#download-btn:hover {
    transform: scale(1.1);
    background-color: #5a5a5a;    
    color: white;
}

#page-footer{
    background-color: #78c2ad;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1 rem;
    text-align: center;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    width:100%;
    overflow: hidden;
    margin:0;
}

#github-link {
    color: white;
    text-decoration: none;
}